<div id="wrapper" class="toggled">
<div id="sidebar-wrapper" style="background-color: #00D9A5;">
    <ul class="sidebar-nav">
        <li style="font-size: 30px;color: white;" class="sidebar-brand">
            
                BE-healthy
           
        </li>
        <br>
        <br>
        <li style="font-size: 15px;">
            <a routerLink="/admin-dashbord" style="color: white;">Tableau de bord</a>
        </li>
        <br>
        <li style="font-size: 15px;">
            <a routerLink="/admin-patients" style="color: white;">Patients</a>
        </li>
        <br>
        <li style="font-size: 15px;">
            <a routerLink="/admin-medecins" style="color: white;">Medecins</a>
        </li>
        <br>
        <li style="font-size: 15px;">
            <a routerLink="/admin-coachs" style="color: white;">coachs</a>
        </li>
        <br>
        <li style="font-size: 15px;">
            <a routerLink="/admin-contacts" style="color: white;">Contacts</a>
        </li>
       
    </ul>
    <button  style="background-color: azure ;margin-top: 650px;margin-left: 30px;border: solid white 2px;"><a routerLink="/login">Deconnexion</a></button>
</div> 


