<app-navbar-customer></app-navbar-customer>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
            
                <div class="row mt-12">
                    <div class="col-md-12"><label class="labels">votre nom est :</label><h6>{{patient.lastName}}</h6></div>
                    <p class="po">aaaa</p>
                    <div class="col-md-12"><label class="labels">votre prenom est :</label><h6>{{patient.lastName}}</h6></div>
                    <p class="po">aaaa</p>
                    <div class="col-md-12"><label class="labels">votre date de naissance :</label><h6>{{patient.dateNaissance}}</h6></div>
                    <p class="po">aaaa</p>
                    <div class="col-md-12"><label class="labels">votre adresse email</label><h6>{{patient.e_mail}}</h6></div>
                    <p class="po">aaaa</p>
                    <div class="col-md-12"><label class="labels">votre ville</label><h6>{{patient.adresse}}</h6></div>
                    <p class="po">aaaa</p>
                    <div class="col-md-12"><label class="labels">Mobile poid</label><h6>{{patient.poid}}</h6></div>
                    <p class="po">aaaa</p>
                    <div class="col-md-12"><label class="labels">Mobile taille</label><h6>{{patient.taille}}</h6></div>
                    <p class="po">aaaa</p>
                    <div class="col-md-12"><label class="labels">Mobile masse corporelle</label><h6>{{patient.imc}}</h6></div>
                    <p class="po">aaaa</p>
                </div>
                <div class="row mt-3">
                    <form (ngSubmit) = "updatePoidaille()" >
                    <div class="col-md-12">
                        <label class="labels">taille</label>
                        <input type="text" class="form-control" placeholder="taille" [(ngModel)]="p.taille" name="taille" >
                    </div>
                    <div class="col-md-12">
                        <label class="labels"> poids</label>
                        <input type="text" class="form-control" value="" placeholder="poids" [(ngModel)]="p.poid" name="poid">
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                    </form>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Indice Masse Corporelle</span><button (click)="getImc()" class="btn btn-primary profile-button" type="submit">IMC</button></div><br>
                <div class="col-md-12"><label class="labels">Votre IMC est :</label>{{patient.imc}}</div> <br>
            </div>
            <div class="p-3 py-5">
                <div class="col-md-12"><label class="labels">Votre Etat est :</label>{{msg}}</div> <br>
            </div>
        </div>
        <div *ngIf="show" class="alert alert-secondary" role="alert">
            This is a secondary alert—check it out!
          </div>
    </div>
</div>

<app-footer></app-footer>