<app-navbar-medecin></app-navbar-medecin>

<br>
<br>  
<br>
<br>  
<br>
<br>
<div class="container-fluid">

    <section class="content">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4>Listes des Patients : </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                <table id="tablePatient" class="table table-striped"  cellspacing="0" width="70%">
                    <thead>
                        <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let i of patients">
                        <td>{{i.firstName}} </td>
                        <td>{{i.lastName}} </td>
                        <td>{{i.e_mail}} </td>                        
                    </tr>
                </table>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
           
            
        </div>
    </section>
</div>
                    

<br>
<br>  
<br>
<br>
<br>
<br>

 

       
    

<app-footer-medecin></app-footer-medecin>