<app-navbar-medecin></app-navbar-medecin>
<br>

<div class="col-md-6 offset-md-3">
  <h1 class="text-center wow fadeInUp">Confirmation du rendez-vous</h1>
  <br>

  <form (ngSubmit) = "onSubmit()">

      <div class="form-group">
          <label for="exampleFormControlTextarea1">Note </label>
          <input class="form-control" id="note" rows="3" 
          [(ngModel)] = "rdv.note" name = "note">
        </div>
      <button class="btn btn-primary mt-3 wow zoomIn" type ="submit">Envoyer</button>
  
  </form>
  </div> 
  <br>
  <br>
  <br>



<app-footer-medecin></app-footer-medecin>