

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div  class="wrapper fadeInDown " >
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Bienvenue </h2>
     
      
 
      <br>
      <br>
      <br>
      <!-- Login Form -->
      <form >
        <input type="text"  class="fadeIn second" name="login" placeholder="saisir votre identifaint"  >
        <br>
        <br>
        <input type="password"  class="fadeIn third" name="password" placeholder="saisir vote mot de passe" >
        <br>
        <br>
        <br>
        <div class="_6ltg"><a  routerLink="/register" role="button" class="_42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy" href="#" ajaxify="/reg/spotlight/" id="u_0_2_RP" data-testid="open-registration-form-button" rel="async">Créer nouveau compte</a></div>

        
        <input type="button" (click)="go()"  class="fadeIn fourth"  value="Se connecter">
      </form>
      
  
      <!-- Remind Passowrd -->
      
  
    </div>
  </div>
  
 



 


  
 
