<!-- <app-navbar-customer></app-navbar-customer>
<div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Prise de rendez-vous avec votre medecin</h1>

      <form (ngSubmit) = "onSubmit()" class="main-form">
        <div class="row mt-5 ">

          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <label style="color: #00D9A5;">choisir votre medecin :</label>
          </div>


          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms" >
            <select class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms"   [(ngModel)]="rdv.medecin._id"  name="medecin">
              <option *ngFor="let i of medecins"  [value]="i._id" >{{i.firstName}} {{i.lastName}}</option>
          </select>
          </div>
        </div>



        <div>
          <label style="color: #00D9A5;">Saisir la date de RDV :</label>
        </div>
        <input type="date" class="form-control" min="{{d1}}" placeholder="saisir date RDV"
        [(ngModel)]="rdv.date" name="DateNaissance" >

        <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Passer RDV</button>
      </form>
    </div> 
    
  </div> 
  
 
<app-footer-customer></app-footer-customer> -->