<!-- <app-navbar-customer></app-navbar-customer>
<div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Prise de rendez-vous avec votre medecin</h1>

      <form (ngSubmit) = "onSubmit()" class="main-form">
        <div class="row mt-5 ">
          
          
         
         
          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <input type="text" class="form-control" placeholder="saissir votre nom et prenom"
            [(ngModel)]="rdv.nomPatient" name="nomPatient">
          </div>

          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <input type="email" class="form-control" placeholder="saissir votre email"
            [(ngModel)]="rdv.emailPatient" name="emailPatient">
          </div>

          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <textarea name="message"  class="form-control" rows="6" placeholder="saisir vos problemes"
              [(ngModel)]="rdv.note" name="note">
            </textarea>
          </div>

          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
            <label style="color: #00D9A5;">choisir votre medecin :</label>
          </div>


          <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms" >
            <select class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms"   [(ngModel)]="rdv.medecin.id"  name="medecin">
              <option *ngFor="let i of medecins"  [value]="i.id" >{{i.firstName}}</option>
          </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Contacter</button>
      </form>
    </div> 
    
  </div> 
  
 
<app-footer-customer></app-footer-customer> -->