
   
   <br>
   <br>
   
   <div  class="wrapper fadeInDown " >
       <div id="formContent">
         <!-- Tabs Titles -->
         <h2 class="active"> S'inscrire </h2>
         
         <h6 class="active"> C’est rapide et facile. </h6>
           
      <!-- Contact Form -->
    
        <form (ngSubmit) = "onSubmit()" name="Form" class="form" method="post">
          
                <input type="text" class="form-control"  placeholder="saisir votre nom"
                [(ngModel)]="patient.firstName" name="firstName" >
               
             
              
                <input type="text" class="form-control"  placeholder="saisir votre prenom"
                [(ngModel)]="patient.lastName" name="lastName" >

                <div>
                  <label style="color: #00D9A5;">Saisir votre date de naisance :</label>
                </div>
                <input type="date" class="form-control"  placeholder="saisir votre prenom"
                [(ngModel)]="patient.DateNaissance" name="DateNaissance" >


                <input type="email" class="form-control"  placeholder="saisir votre email"
                [(ngModel)]="patient.e_mail" name="e_mail" >


                <input type="text" class="form-control"  placeholder="saisir votre login"
                [(ngModel)]="patient.login" name="login" >


                <input type="password" class="form-control"  placeholder="saisir votre mot de passe"
                [(ngModel)]="patient.password" name="password" >
             
               
                <br>
                <br>

                <input type="submit"  class="fadeIn fourth"  value="S'inscrire">
                
         
                <div class="alert alert-danger" role="alert" *ngIf="error">
                  {{eroorMessage}}
               </div>          
        </form>
     
    
    </div>    
  </div>  