<app-sidebar></app-sidebar>
<div class="container-fluid">
                
    <section class="content">
        <div class="card">
            <div class="card-header">
               
    


     <br>
    <br>
    <br>
    <br>
    <br>
    
   

<div class="row">
  
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>

                </div>
                
                <h3 class="card-title">{{ nbrePatients }}</h3>
                <div class="card-footer" style="background-color:darkslategray ;">
                  <div class="stats" >
                      <p class="card-category" style="font-weight: bold;color: white;"><a routerLink="/admin-patients" style="color: white;">Nombre total des patients</a></p>
                  </div>
              </div>
            </div>
           
        </div>
    </div>
     
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>

                  </div>
                  
                  <h3 class="card-title">{{ nbreMedecins }}</h3>
                  <div class="card-footer" style="background-color: darkslategray;">
                    <div class="stats">
                        <p class="card-category" style="font-weight: bold;color:white;"><a routerLink="/admin-medecins" style="color: white;">Nombre total des medecins</a></p>
                    </div>
                </div>
              </div>
             
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>

                  </div>
                  
                  <h3 class="card-title">{{ nbreCoachs }}</h3>
                  <div class="card-footer" style="background-color: darkslategray;">
                    <div class="stats">
                       
                        <p class="card-category" style="font-weight: bold;color: white;"><a routerLink="/admin-coachs" style="color: white;" >Nombre total des coachs</a></p>
                    </div>
                </div>
              </div>
             
          </div>
      </div>

      
      
    
      
  </div>
<br><br>
<br><br>
  <div class="row">
  
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
               
                
                
                <div class="card-footer" style="background-color:#96C93D ;">
                  <div class="stats" >
                      <p class="card-category" style="font-weight: bold;color: white;"><a routerLink="/admin-ajoutMedecin" style="color: white;">Ajouter une Medecin

                      </a></p>
                  </div>
              </div>
            </div>
           
        </div>
    </div>
     
      <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  
                  <div class="card-footer" style="background-color: #96C93D;">
                    <div class="stats">
                        <p class="card-category" style="font-weight: bold;color:white;"><a routerLink="/admin-ajoutCoach" style="color: white;">Ajouter un Coach</a></p>
                    </div>
                </div>
              </div>
             
          </div>
      </div>
     
    

      
      
    
      
  </div>
  <br>
  <br>
  <div class="row">
  
    <div class="col-lg-3 col-md-6 col-sm-6">
        
    </div>
     
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>

                  </div>
                  
                  <h3 class="card-title">{{ nbreContacts }}</h3>
                  <div class="card-footer" style="background-color: red;">
                    <div class="stats">
                        <p class="card-category" style="font-weight: bold;color:white;"><a routerLink="/admin-contacts" style="color: white;">Nombre total des contacts</a></p>
                    </div>
                </div>
              </div>
             
          </div>
      </div>
      

      
      
    
      
  </div>
  <br>
  <br>
  
  

  </div>
  </div>
  </section>
  </div>



